/* 
    Created on : 13 Feb 2023, 13:59:13
    Author     : Casper
*/

body {
    margin: 0px;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    border-bottom: 2px solid rgb(58, 58, 58);
}

#schedule {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.scheduleDay {
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 180px;
    height: 180px;
    text-align: center;
}

.date {
    text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
  background-color: #8a5081;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;yeah
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #704069;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right:0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#selectedStage {
    background-color: lightgray;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


@media screen and (max-width: 800px) {
    #schedule {
        padding: 20px 20px;
    }
  }